.button{
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    background-color: rgb(76, 76, 76);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
}

.button.blue{
    background-color: rgb(0, 44, 133);
}

.button.green{
    background-color: green;
}

.button.red{
    background-color: red;
}

.button:hover{
    /* a propriedade css inset é uma abreviaçao que corresponde superior, direita, inferior e/ou esquerda 
    developer.mozilla.org*/
    box-shadow: inset 200px 0 0 rgb(151, 151, 151);
}

@media(max-width:480px){
    .button.mobile{
        color: transparent;
        font-size: 0;
        width: 50px;
        height: 50px;
        position: fixed;
        border-radius: 50%;
        top: 90vh;
        left: 80vw;
    }

    .button.mobile::before{
        color: black;
        width: 100%;
        height: 100%;
        font-size: 2rem;
    }
}